@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Infinite Influence</h1>
    <p>Influencer & brand collaboration - Infinitely easier!</p>
        <a class="nav-link text-light" asp-area="" asp-controller="Announcement" asp-action="Index">Announcements</a>

        <a class="nav-link text-light" asp-area="" asp-controller="Influencer" asp-action="Index">Influencer</a>
</div>
